<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="The Internet Test Suite" parallel="tests" thread-count="6" configfailurepolicy="continue">

    <!-- Global parameters -->
    <parameter name="browser" value="chrome"/>
    <parameter name="headless" value="false"/>
    <parameter name="timeout" value="10"/>

    <test name="Authentication Tests">
        <groups>
            <run>
                <include name="@BASIC_AUTH"/>
                <include name="@LOGIN"/>
                <include name="@CHECKBOXES"/>
                <include name="@DROPDOWN"/>
                <include name="@INPUTS"/>
                <include name="@INDEX"/>
            </run>
        </groups>
        <classes>
            <class name="org.nutrien.Runner.TestRunner"> </class>
        </classes>
    </test>

</suite>